<footer class="footer">
    <div class="footer__newslatter">
        <div class="container footer__newslatter-container">
            <h3 class="footer__newslatter-title">Newslatter</h3>
            <p class="footer__newslatter-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores esse consequuntur vel distinctio sapiente minus 
                voluptatum
            </p>

            <form class="container footer__newslatter-form" id="newslatterForm">
                <input type="text" class="footer__newslatter-form__input" id="newslatterInput" placeholder="Dirección de email" autocomplete="off">
                <button type="submit" class="footer__newslatter-form__submit"><i class="fas fa-envelope"></i>  Subscribirse</button>
                <p class="footer__newslatter-form__alert">Por favor ingrese un formato de correo válido</p>
            </form>
        </div>

    </div>

    <div class="footer__nav container">
        <div class="footer__nav-container footer-navigation">
            <h3 class="footer__nav-title">Navegación</h3>
            <ul class="footer__nav-lis">
                <li class="footer__nav-item"><a href="/" class="footer__nav-link">Inicio</a></li>
                <li class="footer__nav-item"><a href="/about" class="footer__nav-link">Quienes Somos</a></li>
                <li class="footer__nav-item"><a href="/products" class="footer__nav-link">Productos</a></li>
                <li class="footer__nav-item"><a href="/contact" class="footer__nav-link">Contacto</a></li>
            </ul>
        </div>
        <div class="footer__nav-container footer-navigation">
            <h3 class="footer__nav-title">Categorías</h3>
            <ul class="footer__nav-lis">
                <li class="footer__nav-item"><a href="../products/palos-sets" class="footer__nav-link">Palos y Sets</a></li>
                <li class="footer__nav-item"><a href="../products/pelotas" class="footer__nav-link">Pelotas</a></li>
                <li class="footer__nav-item"><a href="../products/bolsos" class="footer__nav-link">Bolsos</a></li>
                <li class="footer__nav-item"><a href="../products/carros" class="footer__nav-link">Carros</a></li>
                <li class="footer__nav-item"><a href="../products/ropa-accesorios" class="footer__nav-link">Ropa y Accesorios</a></li>
            </ul>
        </div>
        <div class="footer__nav-container credit-card">
            <h3 class="credit-card__title footer__nav-title">Medios de Pago</h3>

            <img class="credit-card__image" src="/images/medios-de-pagos/amex@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/argencard@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/cabal@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/cencosud@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/diners@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/mastercard@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/mercadopago@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/nativa@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/pagofacil@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/rapipago@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/tarjeta-naranja@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/tarjeta-shopping@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/todopago@2x.png" alt="">
            <img class="credit-card__image" src="/images/medios-de-pagos/visa@2x.png" alt="">
        </div>
        <div class="footer__nav-container footer-navigation">
            <h3 class="footer__nav-title">Contactanos</h3>
            <ul class="footer__nav-lis">
                <li class="footer__nav-item"><a href="" class="footer__nav-link"><i class="fas fa-map-marker-alt"></i> Driving Moreno</a></li>
                <li class="footer__nav-item"><a href="" class="footer__nav-link"><i class="fas fa-map-marker-alt"></i> County San Diego</a></li>
                <li class="footer__nav-item"><a href="" class="footer__nav-link"><i class="fas fa-phone"></i> (011) 15-38257637</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__second container">
        <div class="footer__second-element footer-social">
            <a href="" class="footer-social__link"><i class="fab fa-whatsapp footer-social__icon"></i></a>
            <a href="" class="footer-social__link"><i class="fab fa-instagram footer-social__icon"></i></a>
            <a href="" class="footer-social__link"><i class="fab fa-facebook-square footer-social__icon"></i></a>
        </div>

        <div class="footer_second-element copyright">
            <p class="copyright__p">
                <span class="copyright__span">© Luna Golf Store 2020</span>
                Desarrollador: <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ" class="copyright__link">Monasterio Matías</a>
            </p>
            
        </div>

        <div class="footer_second-element logo">
            <a href="/" class="logo__link"><img src="/images/logoResponsive.png" alt="logo" class="logo__image"></a>
        </div>
    </div>
</footer>