<div class="user-cart">
        <h3 class="user-info__title">Carrito</h3>

        <div class="product-list" id="productList">
                <div class="product-list__row">
                        <h5 class="product-list__title product-list__row-item">Item</h5>
                        <h5 class="product-list__title product-list__row-item">Precio Unitarios</h5>
                        <h5 class="product-list__title product-list__row-item">Cantidad</h5>
                        <h5 class="product-list__title product-list__row-item">Precio Final</h5>
                        <h5 class="product-list__title product-list__row-item">Eliminar</h5>
                </div>
        </div>

        <div class="purchase-container">
                <p class="purchase-container__total">TOTAL: $ 10000</p>
                <button class="purchase-container__button main-btn">Terminar compra</button>
        </div>
</div>