<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>

    {{#unless login}}
      {{>navbar}}
    {{/unless}}

  {{!-- {{#if home}} --}}
    {{!-- {{home}} --}}
    {{!-- {{>navbar}} --}}
  {{!-- {{/if}} --}}


    {{{body}}}

    {{#unless login}}
      {{>footer}}
    {{/unless}}


    <script type="module" src="/javascripts/main.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
