// VARIABLES COLORS
$white: #f8f8f8;
$greendark: #354746;
$greenmedium: #2B806A;
$greenlight: #309C3F;
$graydark: #4b4b4b;
$graylight: #dbdbdb;
$shadow1: rgba(0, 0, 0, .2);


// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
