.user-info{
    display: flex;
    flex-direction: column;
    color: $graydark;

    &__title{
        display: block;
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    &__article{
        margin-bottom: 30px;

        &-title{
            margin-bottom: 10px;
            border-bottom: 1px solid $graylight;
        }

        &-address{
            margin-bottom: 20px;
        }
    }

    &__button{
        margin-top: 40px;
        margin-left: auto;
    }

    &__message{
        margin-top: 5px;
    }
}