<header class="us-header header">
    <h1 class="header__title us-header__title">Sobre nostros</h1>
</header>

<main class="us-main">
    <article class="us-main__article us-info container">

        <div class="us-info__text">
            <h2 class="us-main__article-title us-info__text-title">Un poco de nosotros</h2>
            <p class="us-info__text-p">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat suscipit excepturi nostrum illum possimus 
                quasi minima quis, itaque dignissimos ipsam, provident rerum sunt odit voluptas qui maiores delectus
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ut, debitis possimus suscipit aperiam 
                quidem explicabo ex inventore minima recusandae corporis ab tempora. Voluptatem quibusdam nesciunt placeat.
            </p>
        </div>  <!-- us-info__text -->

        <div class="us-info__number">
            <p class="us-info__number-p"><span class="us-info__number-span">560</span> usuarios registrados</p>
            <p class="us-info__number-p"><span class="us-info__number-span">200</span> compras realizadas</p>
        </div>  <!-- us-info__number -->

    </article>  <!-- us-info us-main -->


    <article class="us-main__article container testimonial">
        <h2 class="us-main__article-title testimonial__title">Testimoniales</h2>

        <div class="testimonial__card testimonial-card">
            <img src="./assets/images/golf-ball-378544_1920.jpg" alt="" class="testimonial-card__image">
            <h4 class="testimonial-card__name">Matías Monasterio</h4>
            <p class="testimonial-card__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequatur repudiandae aliquid, 
                sunt dolorem nihil.
            </p>
        </div>  <!-- testimonial-card testimonial__card -->

        <div class="testimonial__card testimonial-card">
            <img src="./assets/images/golf-ball-378544_1920.jpg" alt="" class="testimonial-card__image">
            <h4 class="testimonial-card__name">Matías Monasterio</h4>
            <p class="testimonial-card__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequatur repudiandae aliquid, 
                sunt dolorem nihil.
            </p>
        </div>  <!-- testimonial-card testimonial__card -->

        <div class="testimonial__card testimonial-card">
            <img src="./assets/images/golf-ball-378544_1920.jpg" alt="" class="testimonial-card__image">
            <h4 class="testimonial-card__name">Matías Monasterio</h4>
            <p class="testimonial-card__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequatur repudiandae aliquid, 
                sunt dolorem nihil.
            </p>
        </div>  <!-- testimonial-card testimonial__card -->

        <div class="testimonial__card testimonial-card">
            <img src="./assets/images/golf-ball-378544_1920.jpg" alt="" class="testimonial-card__image">
            <h4 class="testimonial-card__name">Matías Monasterio</h4>
            <p class="testimonial-card__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequatur repudiandae aliquid, 
                sunt dolorem nihil.
            </p>
        </div>  <!-- testimonial-card testimonial__card -->
    </article>  <!-- testimonal us-main__article -->

</main> <!-- us-main -->