<header class="contact-header header">
    <h1 class="contact-header__title header__title">Contactanos</h1>
</header>

<main class="contact-main">
    <div class="contact-main__div contact-info container">
        <article class="contact-info__location contact-info__article">
            <h2 class="contact-info-title">Ubicacion</h2>
            <p class="contact-info__location-p"><strong>Driving Moreno</strong> - Acceso Oeste KM. 38,5 (Calectora Sur) entre Belisario Rold치n y Canad치. La Reja. Moreno</p>
            <p class="contact-info__location-p"><strong>Country San Diego</strong> - Acceso Oeste KM. 38,5 (Calectora Sur) entre Belisario Rold치n y Canad치. La Reja. Moreno</p>
        </article>

        <article class="contact-info__social contact-info__article">
            <h2 class="contact-info-title"class="contact-info-title">Redes Sociales</h2>
            <a class="contact-info-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/lunagolfstore/"><i class="contact-info__icon fab fa-facebook-square"></i> /lucagolfstore</a>
            <a class="contact-info-link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/lunagolfstore/"><i class="contact-info__icon fab fa-instagram"></i> /lucagolfstore</a>
        </article>

        <article class="contact-info__whatsapp contact-info__article">
            <h2 class="contact-info-title">Whatsapp</h2>
            <a class="contact-info-link"rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=541138257637"><i class="contact-info__icon fab fa-whatsapp"></i> (011) 15-38257637</a>
        </article>

    </div>

    <div class="contact-main__div contact-map container">
        <button id="map1" class="contact-map__button contact-map__button-active">
            <i class="fas fa-golf-ball contact-map__button-icon"></i>
            <p class="contact-map__button-text">
                <strong>Driving Moreno</strong> <br>
                Lunes a Viernes y Feriados <br>
                De 10 a 18 hs
            </p>
            <a target="_blank" href="https://goo.gl/maps/TPoEux8g1Xbra7vJ6" class="contact-map__button-link">Ir al mapa</a>
        </button>
        <button id="map2" class="contact-map__button">
            <i class="fas fa-home contact-map__button-icon"></i>
            <p class="contact-map__button-text">
                <strong>Country San Diego</strong> <br>
                Lunes a Viernes <br>
                De 8 a 18 hs
            </p>
            <a target="_blank" href="https://goo.gl/maps/nniaXQbk7RWNhpAG9" class="contact-map__button-link">Ir al mapa</a>
        </button>
        <iframe 
            class="contact-map__iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.043002704564!2d-58.81106968459122!3d-34.62835356630932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9418498fb525%3A0x1fea5c3f445e79e7!2sDriving%20Moreno!5e0!3m2!1ses!2sar!4v1594762202891!5m2!1ses!2sar" 
            width="100%" 
            height="450" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="" 
            aria-hidden="false" 
            tabindex="0"
            id="iframeMap">
        </iframe>
    </div>
</main>