<main class="login-main">
    <div class="login-main__container login">
        {{#unless signup}}
        <h1 class="login__title">Sign in</h1>
        <form action="/login" class="login__form" method="POST">
            <input type="text" placeholder="Email Address" name="email" class="login__form-input">
            <input type="password" placeholder="Pasword" name="password" class="login__form-input">

            {{#if signinMessage}}
            <p class="login__error">{{signinMessage}}</p>
            {{/if}}

            <button type="submit" class="login__form-button main-btn"><i class="fas fa-lock"></i> Log in</button>
        </form>
        <a href="" class="login__link">¿Olvidaste tu contraseña?</a>
        <a href="/signup"  class="login__link">¿No tienes cuenta? Registrate</a>

        {{/unless}}


        {{#if signup}}
        <h1 class="login__title">Sign up</h1>
        <p class="login__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam exercitationem</p>

        <form action="/signup" class="login__form" method="POST">
            <input type="text" placeholder="Nombre" name="name" class="login__form-input">
            <input type="text" placeholder="Apellido" name="lastname" class="login__form-input">
            <input type="text" placeholder="Direccion de email" name="email" class="login__form-input">
            <input type="password" placeholder="Contraseña" name="password" class="login__form-input">  

            <button type="submit" class="login__form-button main-btn"><i class="fas fa-sign-in-alt"></i> Registrarse</button>
        </form>

        <a href="/login"  class="login__link">¿Yo tienes cuenta? Iniciar Sesion</a>
        {{/if}}


    </div>
</main>